.newBookForm {
    border: 7px ridge rgb(17, 179, 17);
    border-radius: 2.5rem;
    padding: 5rem;
    margin-top: 5rem;
    max-width: min-content;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
}

.btn-primary {
    background-color: rgb(196, 239, 253);
}

.btn-primary:active {
    background-color: rgb(145, 180, 192);
}