.newBookForm {
    border: 7px ridge rgb(17, 179, 17);
    border-radius: 2.5rem;
    padding: 5rem;
    margin-top: 5rem;
    max-width: min-content;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    background-color: rgb(255, 255, 181);
}

.newBookFormTitle {
    color: darkred;
    text-shadow: -2px 2px 5px rgb(165, 165, 125);
}

.btn-primary {
    background-color: rgb(196, 239, 253);
    color: black;
    box-shadow: -2px 2px 5px;
}

.btn-primary:hover{
    background-color: rgb(167, 231, 252);
    color: black;
}

.btn-primary:active {
    background-color: rgb(145, 180, 192);
}

.bookSeriesLabel{
    padding-right: 1.5em;
    font-weight: 700;
}

.bookTitleLabel {
    font-weight: 700;
}

.authorLabel {
    font-weight: 700;   
}

.thoughtsLabel {
    font-weight: 700;
}

.publicationLabel {
    font-weight: 700;
}

.dustJacketLabel {
    font-weight: 700;
}

.editDropDown{
    background-color: rgb(253, 253, 212);
    border-radius: .5rem;   
}

.addTitle {
    width: 75%;
    background-color: rgb(253, 253, 212);
    border-radius: .5rem;
}

.addAuthor {
    width: 75%;
    background-color: rgb(253, 253, 212);
    border-radius: .5rem;
}

.addThoughts {
    width: 75%;
    background-color: rgb(253, 253, 212);
    border-radius: .5rem;
}

.addPublication {
    width: 89%;
    background-color: rgb(253, 253, 212);
    border-radius: .5rem;
}

.addDustJacket {
     accent-color: green;

}


