.editBooksForm {
    border: 7px ridge rgb(17, 179, 17);
    border-radius: 2.5rem;
    padding: 5rem;
    margin-top: 5rem;
    max-width: min-content;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
}

.editSeriesLabel{
    padding-right: 1.5em;
}

.editTitle{
    width: 75%;
}

.editAuthor{
    width: 75%;
}

.editThoughts{
    width: 75%;
}

.editPublication{
    width: 89%;
}