.members {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 50%;
}

.memberCard {
 
    border: 8px double rgb(173, 105, 105);
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.memberCardSection {
    margin: 1rem 0 0.25rem 1.5rem;
    font-style: oblique; 
    display: flex;
    flex-direction: column;
}

.memberHeader {
    font-size: larger;
    font-weight: 700;
    
}